spring:
  application.name: content-ws
  cloud:
    zookeeper:
      enabled: false
      discovery:
        enabled: false
    config:
      enabled: false
      discovery:
        enabled: false
    discovery:
      enabled: false
contentful:
  # A key for just the GBIF space, reading the published content
  cdaToken: a
  # A personal access key from the systems account (all spaces).
  cmaToken: c
  spaceId: s
  environmentId: master
  indexBuild:
    #esIndexName: content type names are used as index name
    esIndexAlias: content
  countryVocabulary: "Vocabulary: Countries"
  newsContentType: "News"
  preloadVocabularies: false
  vocabularies:
    - "Vocabulary: Audience"
    - "Vocabulary: Countries"
    - "Vocabulary: Purpose"
    - "Vocabulary: Topic"
  contentTypes:
    - "News"
    - "Article"
    - "Call"
    - "Data Use"
    - "Event"
    - "Network"
    - "Organisation"
    - "Participant"
    - "Programme"
    - "Project"
    - "Tool"
    - "Document"
    - "Help"
    - "Notification"
    - "Navigation element"
    - "Home page"
    - "Composition"
content:
  elasticsearch:
    host: http://localhost:9200
  esNewsIndex: "news"
  esEventsIndex: "event"
  esDataUseIndex: "datause"
  gbifPortalUrl: https://www.gbif-dev.org/

  synchronization:
    token: "ILoveMorten"
    command: "contentful-crawl"
    jenkinsJobUrl: "http://builds.gbif.org/job/run-content-crawler/buildWithParameters"
    version: "LATEST"
    classifier: "shaded"
    environments:
      dev: { "repository": "snapshots", "index": { "host": "http://localhost", "port": "9300", "cluster": "content-cluster" } }
